version: "3"
services:
  erigon:
    container_name: jfinchain
    image: domecloud/jfin-erigon
    user: root
    # network_mode: "host"
    command:
      - "--networkid=3501"
      - "--bootnodes=enode://7f2060647bb6b3598cde7c409fc433a1d5f4051b4887fdbf50cccc0fd66c66b1ed5479d8e74afe81451dfb58a82a47b36b6b144e636b548224d58029417bef21@65.108.14.187:30303,enode://d1438b13c5e2d7299a648cbbc720025376b997a4af277633d96724d4273c54ca739290efc13e2c4454518d5d048839075575e4e49d554984a802acf7c949196e@65.108.0.235:30303"
      - "--ethstats=change_me:unsecure@stats.jfinchain.com"
      - "--private.api.addr=0.0.0.0:9090"
      - "--downloader.api.addr=downloader:9093"
      - "--metrics"
      - "--metrics.addr=0.0.0.0"
      - "--metrics.port=6060"
      - "--pprof"
      - "--pprof.addr=0.0.0.0"
      - "--pprof.port=6061"
      - "--datadir=/home/erigon/.local/share/erigon"
    ports:
      - "20303:30303"
    entrypoint: /root/init-script.sh
    volumes:
      - "./genesis.json:/root/genesis.json"
      - "./datadir:/home/erigon"
      - "./init-script.sh:/root/init-script.sh"
    restart: always

  rpcdaemon: # Service to server JSON-RCP API
    container_name: jfinchain-rpc
    image: domecloud/jfin-erigon
    user: root
    command: 
      rpcdaemon ${RPCDAEMON_FLAGS-}
      --datadir=/home/erigon/.local/share/erigon
      --private.api.addr=erigon:9090
      --txpool.api.addr=erigon:9090
      --http.addr=0.0.0.0 --http.vhosts=* --http.corsdomain=* --http.api=eth,debug,net
      --ws
    pid: service:erigon # Use erigon's PID namespace. It's required to open Erigon's DB from another process (RPCDaemon local-mode)
    volumes_from:
      - erigon
    ports:
      - "6545:8545"
      - "6550:8550"
      - "6551:8551"
    restart: unless-stopped

  downloader: # Service to download/seed historical data (need only if you use --syncmode=snap)
    container_name: jfinchain-downloader
    image: domecloud/jfin-erigon
    user: root
    command: 
      downloader ${DOWNLOADER_FLAGS-}
      --datadir=/home/erigon/.local/share/erigon
      --downloader.api.addr=0.0.0.0:9093
    pid: service:erigon # Use erigon's PID namespace. It's required to open Erigon's DB from another process (RPCDaemon local-mode)
    #cpus: 0.2 # No real-time computation here, so - limit it hard
    volumes_from:
      - erigon
    ports:
      - "9093:9093"
      - "42069:42069/tcp"
      - "42069:42069/udp"
    restart: unless-stopped

  prometheus:
    container_name: prom
    image: prom/prometheus:v2.35.0
    user: root
    command: --log.level=warn --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --storage.tsdb.retention.time=150d --web.console.libraries=/usr/share/prometheus/console_libraries --web.console.templates=/usr/share/prometheus/consoles
    ports:
      - "9090:9090"
    volumes:
      - ${ERIGON_PROMETHEUS_CONFIG:-./cmd/prometheus/prometheus.yml}:/etc/prometheus/prometheus.yml
      - ${XDG_DATA_HOME:-~/.local/share}/erigon-prometheus:/prometheus
    restart: unless-stopped

  grafana:
    container_name: grafana
    image: grafana/grafana:8.5.2
    user: root
    environment:
      - TZ=Asia/Bangkok
    ports:
      - "3000:3000"
    volumes:
      - ${ERIGON_GRAFANA_CONFIG:-./cmd/prometheus/grafana.ini}:/etc/grafana/grafana.ini
      - ./cmd/prometheus/datasources:/etc/grafana/provisioning/datasources
      - ./cmd/prometheus/dashboards:/etc/grafana/provisioning/dashboards
      - ${XDG_DATA_HOME:-~/.local/share}/erigon-grafana:/var/lib/grafana
    restart: unless-stopped
